<!DOCTYPE html>
<html>
  <head>
    <title>Express Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
      body { padding-top: 50px; }
      img { width: 140px; height: 140px; }
      .fa-sign-out { float: right; }
    </style>
  </head>
  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div >

        <h1  class="text-center"> Profile</h1><br>
        <span class="fa fa-sign-in "><a href="/homepage"> Home</a></span>
        <span class="fa fa-sign-out"><a href="/logout"> Sign out</a></span>

        <hr>

        <div class="text-center">
        <div class="jumbotron">
        	<% if (user.facebooktoken) { %>
            <img src="http://graph.facebook.com/<%=user.facebookid%>/picture?type=square" class="img-circle"><br>
            <strong>email</strong>: <%= user.facebookemail %><br>
            <strong>name</strong>: <%= user.facebookname %><br>

          <% } %>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
