<%('layout.master')%>
<%('title','Sản phẩm')%>
<%("menu")%>
<div class="header-bottom">
	<div class="container">
		<a class="visible-xs beta-menu-toggle pull-right" href="#"><span class='beta-menu-toggle-text'>Menu</span> <i class="fa fa-bars"></i></a>
		<div class="visible-xs clearfix"></div>
		<nav class="main-menu">
			<ul class="l-inline ov">
				<li><a href=".">Trang chủ</a>
					<ul class="sub-menu">
					@foreach($type as $t)
						<li><a href="{{$t->id}}">{{$t->name}}</a></li>
					@endforeach
					</ul>
				</li>
				<li><a href="#">Pages</a>
					<ul class="sub-menu">
						<li><a href="about_1.html">About 1</a></li>
					</ul>
				</li>
				<li><a href="features.html">Features</a></li>
				<li><a href="#">Portfolio</a>
					<ul class="sub-menu">
						<li><a href="portfolio_type_a.html">Portfolio type A</a></li>
						<li><a href="#">Portfolio type B</a>
							<ul class="sub-menu">
								<li><a href="portfolio_3col.html">Portfolio B - 3 Columns</a></li>
								<li><a href="portfolio_4col.html">Portfolio B - 4 Columns</a></li>
							</ul>
						</li>
						<li><a href="portfolio_single.html">Portfolio Item</a></li>
					</ul>
				</li>
				<li><a href="#">Blog</a>
					<ul class="sub-menu">
						<li><a href="blog_fullwidth_1col.html">Blog Full Width</a>
							<ul class="sub-menu">

								<li><a href="blog_fullwidth_3col.html">Blog Full Width - 3 Columns</a></li>
								<li><a href="blog_fullwidth_4col.html">Blog Full Width - 4 Columns</a></li>
							</ul>
						</li>
						<li><a href="#">Blog Type A</a>
							<ul class="sub-menu">
								<li><a href="blog_with_sidebarleft_type_a.html">Blog A - Left Sidebar</a></li>
								<li><a href="blog_with_sidebarright_type_a.html">Blog A - Right Sidebar</a></li>
							</ul>
						</li>
						<li><a href="blog_with_sidebarleft_type_b.html">Blog Type B</a></li>
						<li><a href="#">Blog Type C</a>
							<ul class="sub-menu">
								<li><a href="blog_with_sidebarleft_type_c.html">Blog C - Left Sidebar</a></li>
								<li><a href="blog_with_sidebarleft_type_c_2cols.html">Blog C - 2 Columns</a></li>
							</ul>
						</li>
						<li><a href="blog_with_sidebarleft_type_d.html">Blog Type D</a></li>
						<li><a href="#">Blog Type E</a>
							<ul class="sub-menu">
								<li><a href="blog_with_sidebarleft_type_e.html">Blog E - Left Sidebar</a></li>
								<li><a href="blog_with_2sidebars_type_e.html">Blog E - 2 Sidebars</a></li>
							</ul>
						</li>
						<li><a href="#">Blog Single Post</a>
							<ul class="sub-menu">
								<li><a href="single_type_image.html">Single Post Image</a></li>
								<li><a href="single_type_gallery.html">Single Post Gallery</a></li>
								<li><a href="single_type_video.html">Single Post Video</a></li>
								<li><a href="single_type_audio.html">Single Post Audio</a></li>
								<li><a href="single_type_slideshow.html">Single Post Slideshow</a></li>
								<li><a href="single_type_quote.html">Single Post Quote</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="index.html">Shop</a>
					<ul class="sub-menu">
						<li><a href="index.html">Home Shop 1</a></li>
						<li><a href="home_2.html">Home Shop 2</a></li>
						<li><a href="home_3.html">Home Shop 3</a></li>
						<li><a href="checkout.html">Checkout</a></li>
						<li><a href="pricing.html">Pricing</a></li>
						<li><a href="shopping_cart.html">Shopping Cart</a></li>
						<li><a href="product.html">Product</a></li>
					</ul>
				</li>
				<li><a href="contacts.html">Contact</a></li>
			</ul>
			<div class="clearfix"></div>
		</nav>
	</div> <!-- .container -->
</div> <!-- .header-bottom -->
<div class="inner-header">
	<div class="container">
		<div class="pull-left">
			<h6 class="inner-title">Product</h6>
		</div>
		<div class="pull-right">
			<div class="beta-breadcrumb font-large">
				<a href=".">Trang chủ</a> / <span>Product</span>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<div class="container">
	<div class="beta-products-list">
		<h4 class="wow fadeInLeft">New Products</h4>
		<div class="beta-products-details">
			<p class="pull-left">438 styles found | <a href="#">View all</a></p>
			<p class="pull-right">
				<span class="sort-by">Sort by </span>
				<select name="sortproducts" class="beta-select-primary">
					<option value="desc">Latest</option>
					<option value="popular">Popular</option>
					<option value="rating">Rating</option>
					<option value="best">Best</option>
				</select>
			</p>
			<div class="clearfix"></div>
		</div>

		<div class="row">
			@foreach($sanpham as $sp)
			<div class="col-md-4">
				<div class="single-item">
				@if($sp->new_product == 1)
					<div class="ribbon-wrapper">
						<div class="ribbon">New!</div>
					</div>
				@endif
					<div class="single-item-header">
						<a href="product.html"><img src="assets/dest/images/products/{{$sp->image}}" alt="" height="300px"></a>
					</div>
					<div class="single-item-body">
						<p class="single-item-title">{{$sp->name}}</p>
						<p class="single-item-price">
							<span>{{$sp->unit_price}}</span>
						</p>
					</div>
					<div class="single-item-caption">
						<a class="add-to-cart pull-left" href="shopping_cart.html"><i class="fa fa-shopping-cart"></i></a>
						<a class="beta-btn primary" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			@endforeach
		</div>
	</div> <!-- .beta-products-list -->
	<div class="space50">&nbsp;</div>
</div>
