<div id="footer" class="color-div">
		<div class="container">
			<div class="row">

				</div>
				<div class="col-sm-2">

				</div>
				 <div class="col-sm-10">
					<div class="widget">
						<h4 class="widget-title">Contact Us</h4>
						<div>
							<div class="contact-info">
								<i class="fa fa-map-marker"></i>
								<p>108/11 Linh Xuân Thủ Đức Hồ CHí Minh, Phone: +78 123 456 70</p>
								<p>Mở của từ 8 AM - 10 PM</p>
							</div>
						</div>
					</div>
				  </div>

			</div> <!-- .row -->
		</div> <!-- .container -->
	</div>
