
	<div id="header">
		<div class="header-top">
			<div class="container">
				<div class="pull-right auto-width-right">
					<ul class="top-details menu-beta l-inline">
						<li><a href="/signin"><i class="fa fa-user"></i> Sign In</a></li>
						<li><a href="/profile"><i class="fa fa-user"></i> Your Account</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div> <!-- .container -->
		</div> <!-- .header-top -->
		<div class="header-body">
			<div class="container beta-relative">
				<div class="pull-left">
					<a href="/homepage" id="logo"><img src="assets/dest/images/cookie.png" alt=""></a>
				</div>
				<div class="pull-right beta-components space-left ov">
					<div class="beta-comp">
						<form action="/search" method="POST" id="searchform" >
					        <input type="text" value="" name="search" id="frm_search" placeholder="Search entire store here..." />
					        <button class="fa fa-search" type="submit" id="searchsubmit"></button>
						</form>
					</div>


					<div class="beta-comp">

						<div class="cart">
							<%if(!session.cart){%>
								<div  class="beta-select"><i class="fa fa-shopping-cart"></i> Cart <span id = "cart-count" class="badge">0</span> <i class="fa fa-chevron-down"></i></div>
							<%}else{%>
						<div  class="beta-select"><i class="fa fa-shopping-cart"></i> Cart <span id = "cart-count" class="badge"><%=session.cart.totalQty%></span> <i class="fa fa-chevron-down"></i></div>
						<%}%>
							<div class="beta-dropdown cart-body" href="/checkout">
								<div class="cart-caption">
									<%if(!session.cart){%>
									<div class="cart-total text-right">Subtotal: <span class="cart-total-value">0</span></div>
									<%}else{%>
										<div class="cart-total text-right">Subtotal: <span class="cart-total-value"><%=session.cart.totalPrice%></span></div>
										<%}%>
									<div class="clearfix"></div>

									<div class="center">
										<div class="space10">&nbsp;</div>
										<a href="/checkout" class="beta-btn primary text-center">Checkout <i class="fa fa-chevron-right"></i></a>
									</div>
								</div>
							</div>
						</div> <!-- .cart -->
					</div>
				</div>
				<div class="clearfix"></div>
			</div> <!-- .container -->
		</div> <!-- .header-body -->
