<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Comkeez</title>
	<base href="http://35.166.46.140:3000/trangchu">
	<!-- <link href='http://fonts.googleapis.com/css?family=Dosis:300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'> -->
	<link rel="stylesheet" href="assets/dest/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/dest/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/dest/vendors/colorbox/example3/colorbox.css">
	<link rel="stylesheet" href="assets/dest/rs-plugin/css/settings.css">
	<link rel="stylesheet" href="assets/dest/rs-plugin/css/responsive.css">
	<link rel="stylesheet" title="style" href="assets/dest/css/style.css">
	<link rel="stylesheet" href="assets/dest/css/animate.css">
	<script src="jquery-3.1.0.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap-markdown.min.css">
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/bootstrap-validator.js"></script>
	<script src="/javascripts/bootstrap-markdown.js"></script>
	<script src="/javascripts/ExpressCart.js"></script>
</head>
