<!DOCTYPE html>
<html lang="en">

<head>
<% include ../layout/head %>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <% include ./header %>

            <!-- /.navbar-header -->

            <% include ./navbar %>

            <!-- /.navbar-static-side -->
        </nav>

        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <% include ./script %>


</body>

</html>
