<ul class="nav navbar-top-links navbar-right">



    <!-- /.dropdown -->
    <li class="dropdown">
            <li class="divider"></li>
            <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->

<% include ./nav-left %>
